@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
  background: #1b161c !important;
}

/***** Navigation *****/

nav {
  background: #006a67;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #015552;
  transition: 0.5s;
  color: white !important;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1b161c;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #015552 !important;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/***** Navigation *****/

/***** Home *****/

.homeh1 {
  font-family: "Bona Nova", serif;
  color: #f8ebc1;
  text-align: center;
  font-size: 70px;
  padding-top: 300px;
  padding-bottom: 15px;
}

.homep {
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 270px;
}

.pyellow {
  color: #f8ebc1;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}

.card {
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 150px;
}

.btn,
.btn-primary,
.btncard {
  background-color: #006a67 !important;
  border: none !important;
}

/***** Home *****/

/***** Footer *****/

footer {
  background: #006a67;
  padding-bottom: 10px;
}

.footerh4 {
  color: white;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 10px;
}

.footerh6 {
  font-weight: 400;
  color: white;
  padding-left: 50px;
}

/***** Footer *****/

/***** Trails *****/

.imgtr {
  align-items: center;
  height: 400px;
  padding-top: 120px;
  padding-left: 190px;
}

.imgtl {
  align-items: center;
  height: 400px;
  padding-top: 120px;
  padding-left: 60px;
}

.card-title,
.cardtiteltrails {
  font-size: 28px;
}

/***** Trails *****/

/***** Acordeon *****/
.accordion,
.accordion-flush {
  margin-bottom: 200px;
}

audio {
  margin-top: 20px;
}

.h3trinfo {
  font-family: "Bona Nova", serif !important;
  color: #f8ebc1 !important;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.imageslide {
  margin-bottom: 100px;
}

/***** Acordeon *****/

/***** About *****/

#h4about {
  font-family: "Bona Nova", serif;
  color: #f8ebc1;
  font-size: 70px;
  padding-top: 100px;
}

.pabout {
  color: white;
  padding-right: 25px;
  font-size: 25px;
}

.quote {
  color: #f8ebc1;
  font-size: 25px;
  font-style: italic;
  padding-bottom: 50px;
}

.imgabout {
  height: 200px;
  width: auto;
}

/***** About *****/
